<div class="question-form">
  <div *ngIf="!showResult" class="scale">
    <mat-icon routerLink="/">keyboard_backspace</mat-icon>
    <div class="percentage">
      <div [ngStyle]="{ 'flex-grow': proportion(false) }"></div>
    </div>
    <label> {{ (proportion(false) * 100).toFixed() }}% </label>
  </div>

  <div *ngIf="cards">
    <app-card
      *ngIf="!showResult"
      (correctPercentage)="isAnswerCorrect($event)"
      [card]="cards[currentCard]"
    ></app-card>
    <div class="result" *ngIf="showResult">
      <h1>Congratulations!</h1>
      You had {{ (proportion(true) * 100).toFixed() }}% correct answers
    </div>
  </div>
</div>
