<div class="quiz-form">
  <div *ngIf="categories$ | async as categories" class="categories">
    <button
      *ngFor="let category of categories"
      (click)="selectCategory(category.id)"
      [ngStyle]="{ 'background-color': buttonCategoryColor(category.id) }"
    >
      <a *ngIf="categoriesState.get(category.id)">x</a>
      <a [routerLink]="['/category', category.name]">{{ category.name }}</a>
    </button>
  </div>
  <button class="startQuiz" (click)="startQuiz()">Start Quiz</button>
</div>
