<div class="signIn-form">
  <form [formGroup]="form" (ngSubmit)="onSignIn()">
    <div class="form-group" *ngFor="let control of formControls; let i = index">
      <input
        type="{{ control }}"
        formControlName="{{ control }}"
        class="form-control"
        placeholder="{{ control }}"
        [ngClass]="{ 'is-invalid': submitted && formControl[control].errors }"
      />
      <div
        *ngIf="submitted && formControl[control].errors"
        class="invalid-feedback"
      >
        <label *ngIf="formControl[control].errors">{{
          formControlsErrorMessages[i]
        }}</label>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Sign In</button>
  </form>
</div>