<div class="createCard-form">
  <div *ngIf="categories$ | async as categories">
    <form [formGroup]="form">
      <select
        id="category"
        formControlName="category"
        (change)="onSelect($event)"
      >
        <option value="" disabled selected>Select category</option>
        <option *ngFor="let category of categories" [value]="category.name">
          {{ category.name }}
        </option>
      </select>
      <label *ngIf="formControl['category'].errors">
        Category is required</label
      >
      <input type="text" placeholder="Question..?" formControlName="question" />
      <label *ngIf="formControl['question'].errors">
        Question is required</label
      >
      <div *ngFor="let answer of answers.controls; index as i">
        <div formArrayName="answers">
          <input [formControlName]="i" type="text" placeholder="Answer.." />
        </div>

        <input
          (change)="onCheckboxChange($event)"
          formArrayName="isCorrectAnswer"
          [value]="i"
          type="checkbox"
        />
      </div>
      <button type="button" (click)="onAddOption()">Add option</button>

      <label *ngIf="formControl['answers'].errors">
        The question should have at least one answer</label
      >
      <label *ngIf="formControl['isCorrectAnswer'].errors">
        ...and at least one correct answer</label
      >
      <button
        id="save"
        *ngIf="!created"
        [disabled]="form.invalid"
        type="submit"
        (click)="onSaveCard()"
      >
        Save card
      </button>
      <button
        id="update"
        *ngIf="created"
        [disabled]="form.invalid"
        type="submit"
        (click)="onChangeCard()"
      >
        Change card
      </button>
    </form>
  </div>
</div>
