<div class="quiz-form">
  <div *ngIf="categories$ | async as categories" class="categories">
    <button
      *ngFor="let category of categories"
      (click)="selectCategory(category.objectId)"
      [ngStyle]="{ 'background-color': buttonCategoryColor(category.objectId) }"
    >
      <a *ngIf="categoriesState.get(category.objectId)">x</a>
      <a [routerLink]="['/category', category.objectId]">{{ category.name }}</a>
    </button>
  </div>
  <button class="startQuiz" (click)="startQuiz()" (keydown.enter)="startQuiz()">
    Start Quiz
  </button>
</div>
