<section *ngIf="form && card">
  {{ card.question }}
  <form [formGroup]="form" (ngSubmit)="onAnswer()" (keydown.enter)="onAnswer()" novalidate>
    <div class="answers">
      <div *ngFor="let answer of card.answers; let i = index">
        <input
          type="checkbox"
          formArrayName="selectedAnswers"
          [value]="answer"
          (change)="onCheckboxChange($event)"
        />
        <label>{{ answer }}</label>
      </div>
    </div>
    <button type="submit">Answer</button>
  </form>
</section>
