<section *ngIf="form && card">
  <h1>{{ card.question }}</h1>
  <form
    [formGroup]="form"
    (ngSubmit)="onAnswer()"
    (keydown.enter)="onAnswer()"
    novalidate
  >
    <div class="answers">
      <div *ngFor="let answer of card.answers; let i = index">
        <input
          type="checkbox"
          formArrayName="selectedAnswers"
          [value]="answer"
          (change)="onCheckboxChange($event)"
        />
        <label>{{ answer }}</label>
      </div>
    </div>
    <button mat-stroked-button type="submit">Answer</button>
  </form>
</section>
