@import "../../shared/styles/mixins.scss";

section {
  @include flex-col-center();
  margin-top: 6%;
  form {
    @include flex-col-center();
    
    flex-wrap: wrap;

    .answers {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      
      div {
        display: flex;
        width: 150px;
        margin: 5px;
      }
    }
  }
}
