@import "./shared/styles/mixins.scss";

.layout {
  display: grid;
  grid-template-columns: 2fr 5fr;
  @include media(mobile) {
    grid-template-columns: 1fr;
  }

  @include media(tablet, smallDesktop, desktop) {
    grid-template-columns: 2fr 5fr;
  }

  grid-template-rows: 100%;
  height: 100%;
  width: 100%;
}

.route {
  justify-self: center;
}
