.question-form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

mat-icon{
  transform: scale(1.5);
  margin-right: 8px;
}

.scale {
  display: flex;
  align-items: center;
  width: 400px;
  max-width: 400px;
  border: none;

  .percentage {
    border-radius: 15px;
    display: flex;
    flex-grow: 1;
    border: 2px solid gray;

    div {
      height: 20px;
      background-color: rgb(236, 132, 95);
      border-top-left-radius: 15px;
      border-bottom-left-radius: 15px;

    }
  }

  label {
    margin-left: 10px;
  }
}
