<div class="question-form">
  <div *ngIf="!showResult" class="scale">
    <mat-icon (click)="previousQuestion()">keyboard_backspace</mat-icon>
    <div class="percentage">
      <div [ngStyle]="{ 'flex-grow': proportion() }"></div>
    </div>
    <label> {{ (proportion() * 100).toFixed() }}% </label>
  </div>

  <div *ngIf="cards">
    <app-card
      *ngIf="!showResult"
      (isCorrect)="isAnswerCorrect($event)"
      [card]="cards[currentCard.serial]"
    ></app-card>
    <div *ngIf="showResult">{{ correctAnswers }}</div>
  </div>
</div>
