<div class="nav-bar">
  <nav>
    <a routerLink="/"><mat-icon>play_arrow</mat-icon> Learn </a>
    <a routerLink="quiz-builder">
      <mat-icon>create</mat-icon> Create your quiz</a
    >
  </nav>
  <div class="user" *ngIf="user">
    <img [src]="user.image" />
    <button mat-button [matMenuTriggerFor]="aboveMenu">
      {{ user?.name }}
    </button>
    <mat-menu #aboveMenu="matMenu" yPosition="above">
      <button mat-menu-item (click)="onSignOut()">Sign Out</button>
    </mat-menu>
  </div>
  <ul class="auth" *ngIf="!user">
    <a routerLink="user/sign-in">Sign In</a>
    <a routerLink="user/sign-up">Sign Up</a>
  </ul>
</div>
