@import "../../shared/styles/mixins.scss";

div {
  @include media(desktop, smallDesktop, desktop) {
    display: flex;
    flex-direction: row;
  }

  @include media(mobile, tablet) {
    @include flex-col-center();
  }

  button {
    a {
      margin-right: 7px;
      color: white;
    }
  }
}

button {
  border: none;
  padding: 10px;
  text-align: center;
  border-radius: 16px;
  cursor: pointer;
  margin: 10px;
}

.quiz-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
}
