@import "../../shared/styles/mixins.scss";

.layout {
  @include flex-col-center();

  h1 {
    margin-top: 20%;
    @include responsive-font-size(65px);
    background: -webkit-linear-gradient(rgb(241, 112, 72), rgb(248, 178, 47));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
